/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500&display=swap"); */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
  margin: 0px;
  padding: 0px;
  /* scroll-behavior: smooth; */
}
::-webkit-scrollbar{
  /* background-color:whitesmoke; */
  width: 20px;
}
::-webkit-scrollbar-track{
  overflow-x: hidden;
  width: 20px;

}

::-webkit-scrollbar-thumb{
  background-color: rgb(142, 51, 142);
  border-radius: 10px;
  border: 5px solid transparent;
  background-clip: content-box;
}
body {

  /* background-image: url(./bg.png); */
  background-color:whitesmoke;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: 'Poppins', sans-serif;
}

.navbar {
  width: 100%;
  overflow: hidden;
  /* background-color: yellow; */
  margin-top: 5px;
  display: flex;
  height: 60px;
  align-items: center;
  justify-content: center;
  /* position: fixed; */
  justify-content: space-evenly;
  font-family: "Poppins", sans-serif;
  font-size: larger;
  font-weight: bold;
}
.navbar img {
  height: 70px;
  width: 150px;
}
.nav-item {
  /* background-color: aquamarine; */
  /* margin-left: 100px; */
  display: flex;
  list-style-type: none;
  align-items: center;
  width: 900px;
  justify-content: space-evenly;

  gap: 50px;
}
.nav-item li {
  cursor: pointer;
}

.right-section {
  /* background-color: brown; */
  /* margin-left: 100px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 250px;
}
.sign-in {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 38px;
  padding: 5px;
  border-radius: 15px;
  /* background-color: lightgreen; */
}
.Book-a-Demo {
  display: flex;
  background-color: rgb(138, 182, 240);
  background: linear-gradient(90deg,  #8E54E9 0%,#4776E6 100%);
  border-radius: 15px;

  height: 35px;
  align-items: center;
  padding: 5px;
  justify-content: space-evenly;
  padding: 8px;
  cursor: pointer;
}
.nav-item li:hover {
  /* background-color: rgb(187, 124, 247); */
  transition: 0.2s;
  /* transition: ease-in-out; */
  text-decoration: 4px purple underline;
  /* border: 4px solid black; */
  margin-bottom: 4px;
}
.sign-in:hover {
  /* border: 4px solid black; */
  background-color: rgb(151, 228, 167);
  transition: 0.1s;
}
.Book-a-Demo:hover {
  /* background-color: black; */
  color: white;
  transition: .1s;
  /* transition: ease-in-out; */
  /* border: 4px solid greenyellow; */
  background: linear-gradient(90deg, #4776E6 0%, #8E54E9 100%);
}
.hero-section {
  display: flex;
  /* flex-direction:row; */
  flex-wrap:calc();
  padding: 30px;
  width: 85%;
  background-image: linear-gradient(to right, rgba(226, 174, 209, 0), rgb(226, 99, 251) 260%);
  border-radius: 12px;
  margin-top: 30px;
  height: 80vh;
  gap: 65px;
}

.left-side {
  /* background-color: palegreen; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: larger;
  font-weight: bolder;
  text-align: center;
  width: 90%;
  /* height: 100%; */
  
}
.right-side img {
  height: 90%;
  width:100%;
  margin-top: 30px;
  border-radius: 8px;
}
h1 {
  font-size: 90px;
  margin-bottom: 30px;
}

.left-side p {
  font-size: 35px;
}

.currency-dropdown {
  margin-top: 20px;
}

.currency-dropdown label {
  font-weight: bold;
  margin-right: 10px;
}

.currency-dropdown select {
  padding: 8px;
  font-size: 16px;
  width: 100px;
}

.plans h2{
  font-size: 56px;
  margin-top: 80px;
  margin-bottom: 50px;
  text-align: center;
}
.pricing-container {
  display: flex;
  flex-direction:row;
  justify-content: center;
  margin-bottom: 40px;
  width: 98%;
  height: 100%;
}
.starter-container{
  /* background-color: rgb(166, 67, 67); */
  border-radius: 8px;
}
.pro-container{
  /* background-color:rgb(140, 97, 97); */
  border-radius: 8px;
  /* box-shadow: 0px -5px 10px 30px rgb(213, 146, 225); */
}
.enterprice-container{
  /* background-color: rgb(239, 21, 21); */
  border-radius: 8px;
}
.pricing-tile {
  color:rgb(100, 98, 98);
  /* border: 4px solid black; */
  border-radius: 10px;
  padding: 20px;
  max-width: 350px;
  margin:30px;
/* margin-right: 80px; */
  
  -webkit-box-shadow: inset 0px -5px 17px 8px rgba(189,68,189,0.76);
-moz-box-shadow: inset 0px -5px 17px 8px rgba(189,68,189,0.76);
box-shadow: inset 0px -5px 17px 8px rgba(189,68,189,0.76);
}
.pricing-tile:hover{
  /* margin-top: 20px; */
  background-color: rgb(212, 233, 246);
  transition: 0.3s;
  transition: ease ease-in-out;
}

.pricing-tile h2 {
  color:rgb(75, 73, 70);
}
.pricing-tile h3{
  margin: 10px 0px 40px;
}

.price {
  font-size: 1.5em;
  color: #007bff;
}

.pricing-tile ul {
  list-style-type: none;
  padding: 0;
}

.pricing-tile li {
  margin-left: 30px;
  margin-bottom: 10px;
  font-size: 25px;
}
 .pricing-tile ul li::marker {
  color: green;
}

.pricing-tile button {
  background: linear-gradient(90deg,  #8E54E9 0%,#4776E6 100%);
  color: #fff;
  /* padding: 10px 10px; */
  margin-top: 30px;
  width: 100%;
  height: 50px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 2em;
}

button:hover {
  background-color: #0056b3;
  background: linear-gradient(90deg, #4776E6 0%, #8E54E9 100%);
  font-weight: bold;
}
 
.ready-to-go{
background-color: #8E54E9;
width: 98%;
border-radius: 8px;
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
}
.live{
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  border-radius: 58px;
  align-items: center;
  width: 70%;
  height: 85%;
  margin: 10px;
}
.live h2{
  margin: 20px;
  font-size: 36px;
  text-align: center;
}
.live p{
  width: 50%;
  text-align: center;
}
.live button{
  background: linear-gradient(90deg, #4776E6 0%, #8E54E9 100%);
  height: 50px;
  width:auto;
  padding: 15px;
  border: none;
  
  border-radius: 18px;
  font-size: 20px;
  color: white;
  margin: 40px;
}
#pointer {
  /* overflow: hidden ; */
  margin: -20px 60px 0px 300px;
}
footer {
  background-color: rgb(57, 54, 54);
  /* margin-top: 50px; */
  height: 400px;
  width: 98%;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  display: flex;
  justify-content:center;
  /* align-items: center; */
  text-align: center;
  justify-content: left;
}

.footer_left {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  margin-top: 30px;
  gap: 10px;
  /* background-color: yellow; */
  /* background-color:pink; */
text-align: center;
  width: 400px;
}
.social-media{
display: flex;
justify-content: center;
gap: 10px;
}
.social-media img {
  width: 10%;
  cursor: pointer;
}
.social-media img:hover {
  /* box-shadow: aqua;  */
  box-shadow: 2px 2px 4px 4px rgb(88, 173, 248);
  transition: 0.2s;
}

.footer_left p {
  font-size: xx-large;
  font-weight: bolder;
  /* margin-top: 30px; */
  width: fit-content;
  color: wheat;
}
.copy-right {
  width: 98%;
  background-color: black;
  color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}
.footer-center {
  /* background-color: red; */
  /* text-align: center; */
  display: flex;
  padding: 30px;
  
  width: fit-content;
  gap: 30px;
  /* margin-left: -100px; */
  /* margin: 10px; */
}
.about{
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.about p{
  margin-left: 40px;
}
.features{
  /* background-color: greenyellow; */
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
  
}
.resources{
  
  /* display: flex; */
  flex-direction: column;
  justify-content: center;
}
.footer-center p {
  font-size: xx-large;
  font-weight: bolder;
  /* margin-top: 20px; */
  width: fit-content;
  color: wheat;
  /* text-align: center; */
}
.footer-center li {
  list-style-type: none;
  color: white;
  cursor: pointer;
  margin-top: 10px;
}
.footer-center li:hover{
  text-decoration: underline;

}
.footer-center li:hover{
  text-decoration: underline;

}
.footer-right {
  /* background-color: yellow; */
  width: fit-content;
  display: flex;
  flex-direction: column;
  /* margin-left: 150px; */
  /* margin: 10px; */
  padding: 20px;
  /* justify-content: center; */
  align-items: center;
}
.footer-right p {
  font-size: xx-large;
  font-weight: bolder;
  margin-top: 10px;
  color: wheat;
}
.footer-right p,
input,
textarea,
button {
  margin-bottom: 20px;
  height: 40px;
}
.footer-right input,
textarea {
  display: flex;
  border-radius: 8px;
  padding: 4px;
  /* align-items: center; */
  /* justify-content: center; */
  width: 100%;
}
.footer-right button {
  font-size: x-large;
  font-weight: bold;
  display: flex;
  /* text-align: center; */
  align-items: center;
  width: fit-content;
  padding: 10px;
  border-radius: 8px;
  margin-left: 10px;
  background-color: rgb(30, 174, 27);
  box-shadow: 2px 2px 4px 4px rgb(88, 248, 107);
}
button:hover {
  box-shadow: 2px 2px 4px 4px rgb(99, 228, 248);
  background-color: aqua;
  transition: 0.2s;
}
@media screen and (max-width:1200px){
  .hero-section{
    background-color: yellow;
    flex-direction: column;
    height: fit-content;
  }
  .live img{
    max-width: 80%;
    overflow: hidden;
  }
  #pointer{
    display: none;
  }
  footer{
flex-direction: column;
height:fit-content ;
align-items: center;

  }
  .pricing-container{
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }
  .nav-item{
    font-size: 10px;
    gap: 5px;
  }
  .right-section{
    flex-direction: column;
    gap: 5px;
  }
  .navbar{
    height: fit-content;
  }
  .Book-a-Demo{
    font-size: 12px;
  }
  textarea,input{
    width: 90%;
  }
  .footer-center{
    flex-direction: column;
    margin: 0px;
  }
  .pricing-tile{
    margin-bottom: 30px;
    width: max-content;
    
    margin:0px;
    gap: 0px;
  }
  h1{
    font-size: 40px;
  }
  .left-side p{
    font-size:20px;
  }
  .hero-section{
    width: 75%;
  }
    .nav-item{
      display: none;
    }
  }
  
